pipeline/015PPLAPPENDVARIABLE.json
{
	"name": "015PPLAPPENDVARIABLE",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "X",
					"value": "100"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OUTPUT",
					"value": {
						"value": "@variables('X')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Append variable1_copy1",
				"type": "AppendVariable",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "X",
					"value": "200"
				}
			},
			{
				"name": "Set variable1_copy1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "OUTPUT",
					"value": {
						"value": "@variables('X')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"X": {
				"type": "Array"
			},
			"OUTPUT": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-03-25T16:08:14Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}