pipeline/040PPLCOPYDATACUSTOMCOLUMNMAPPING.json
{
	"name": "040PPLCOPYDATACUSTOMCOLUMNMAPPING",
	"properties": {
		"activities": [
			{
				"name": "GET COLUMNMAPPINGS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[SP_GETCOLUMNMAPPINGS]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_HEADERLESS",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GET COLUMNMAPPINGS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": "truncate table dbo.ORDERSNOHEARDERS",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(activity('GET COLUMNMAPPINGS').output.firstRow.COLUMNMAPPING)",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "DS_CSVNH",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_HEADERLESS",
						"type": "DatasetReference"
					}
				]
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-25T16:08:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}